@import './partials/variables';

body {
    margin: 0 auto;
}

#app {
    padding: 4rem;
    h1 {
        color: var(--vt-c-darkbrown);
        font-size: 3rem;
        margin: 5px;
        font-family: "Rowdies", sans-serif;
        font-weight: 300;
    }

    h2 {
        color: var(--vt-c-brown);
        font-size: 2rem;
        margin-bottom: 24px;
    }

    p {
        font-family: sans-serif;
    } 

    form {
        font-family: sans-serif;
        margin-top: 20px;

        input {
            margin-bottom: 20px;
            margin-top: 6px;
            border: solid var(--vt-c-darkbrown) 1px;
            border-radius: 15px;
            color: var(--vt-c-orange);
            padding-left: 10px;
            width: 150px;
            height: 20px;
        }
    }
}

button {
    background-color: var(--vt-c-orange);
    color: #F9F7F1;
    border: solid, var(--vt-c-orange), 2px;
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s;
    margin: 5px;
}

button:hover {
    background-color: var(--vt-c-white);
    color: var(--vt-c-orange);
    border: solid, var(--vt-c-orange), 2px;
}

.resetBtn {
    background-color: var(--vt-c-white);
    color: var(--vt-c-orange);
    border: solid, var(--vt-c-orange), 2px;
}

.resetBtn:hover {
    background-color: var(--vt-c-orange);
    color: var(--vt-c-white);
    border: solid, var(--vt-c-orange), 2px;
}
  

  



